$themeColor: #caf6fc;

@font-face {
    font-family: myFont;
    src: url(/JasonHandwriting1.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "myFont", DFkai-sb, sans-serif;
}

html {
    background-color: $themeColor;
}

h1,h2,h3,h4,h5 {
    font-weight: normal;
}

body {
    img.fixed-image {
        min-height: 100vh;
        position: fixed;
        width: 100%;
        z-index: -5; //不要遮住任何東西才把數字寫小一點
    }


    header {
        display: flex; // 將section內容並排顯示
        flex-wrap: wrap;  // 位置不足時往下排列
        background-color: $themeColor;    
        align-items: center;
        
        position: fixed; /* 將 header 固定在視口 */
        top: 0; /* 固定在頁面的頂部 */
        left: 0; /* 固定在頁面的左側 */
        width: 100%; /* 使 header 寬度為 100% */
        z-index: 10; /* 確保 header 在其他內容之上 */
        background-color: rgb(255, 255, 255); /* 設置背景顏色，避免內容顯示在 header 後面 */
        box-shadow: 0 10px 6px -6px; //設定元素的陰影效果。
        
        section.logo {
            flex: 2 1 200px;
            display: flex;
            align-items: center;
            img {
                width: 6vw; /* 設置圖片寬度為視口寬度的 6% */
                height: 6vw;
            }
            h1 {
                font-size: 2.5rem;
            }
        }
        
        nav {
            flex: 5 1 500px;
        }
        ul {
            display: flex;
            list-style-type: none; //移除項目符號
            justify-content: space-around; //這樣就有平均的空間
            font-size: 1.3rem;
            li {
                a {
                    color: black;
                    text-decoration: none; //移除底線
                    transition: all 0.2s ease;
                    padding-bottom: 0.3rem;
                    &:hover { //當屬標移動到nav時
                        color: #19c50a;
                        border-bottom: 3px solid #19c50a; //下線條
                    }
                }
            }
        }
    }
    
    main {
        section.background-image {
            min-height: 70vh;
            background-image: url(../images/日本櫻花.jpg); //設定背景圖片
            background-size: cover; //讓你的背景圖片在不同的螢幕尺寸下保持良好的顯示效果，並且不會變形。
            background-position: center;
            transition: all 0.75s ease;
            position: relative;
            z-index: 0; //stacking context
    
            display: flex; //很常用
            justify-content: center; //橫向置中
            align-items: center; //垂至置中
        }
    
        div.filter {
            background-color: rgba(0, 0, 0, 0.5); //讓背景後有一層黑色遮罩
            width: 100%;
            min-height: 70vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    
        h3 {
            font-size: 4rem;
            color: white;
            text-align: center;
        }
    
    
    }
    
    main {
        section.info-circles {
        background-color: white;
        padding: 2rem 1rem;
        
        h3 {
            color: black;
            font-size: 2.5rem;
            text-align: center;
        }
    
        div.circles {
            // border: 2px solid black;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
            div.circle {
                padding: 1rem;
                // border: 3px solid red;
                flex: 0 1 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
    
            img {
                border-radius: 50%;
                padding: 0.3rem;
                width: 80%;
                transition: all 0.1s ease-in;
    
                /* 當鼠標懸停在元素上時的樣式 */
                &:hover {
                    border: 3px solid rgb(7, 119, 248); 
                }
            }
    
            p {
                text-align:center;
                font-size: 1.3rem;
            }   
        }   
    }
    
    section.empty-container {
        min-height: 70vh; //意思是這個元素的最小高度是視口高度的 70%。也就是說，無論內容有多少，這個元素的高度至少會佔據螢幕高度的 70%。
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
    
        h3 {
            font-size: 2rem;
            color: #ffffff;
        }
    }

    section.google-map {
        background-color: white;
        padding: 2rem 1rem;
        text-align: center;
        h3 {
            font-size: 2.5rem;
            color: black;
        }
        p {
            font-size: 1.25rem;
        }

        iframe {
            width: 100%;
            height: 40vh;
        }
        

    }
    
    }

    footer {
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);

        section.logo {
            img {
                width: 20vw;
            }
            }

        h3 {
            font-size: 2.5rem;
            text-align: center;
        }

        section.links {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            img {
                width: 5vh;
                padding: 10px;
            }            
        }

    }
    
}

/*螢幕寬度小於 700px 時的樣式*/
@media screen and (max-width: 700px) {  
    body {
        /*螢幕寬度小於 700px 時的 header 樣式*/
        header {
                /*將 header 的 position 設置為 static，讓它不再固定在頂部*/
                position: static;
            /*將 logo 的 flex-direction 設置為 column，讓它變成垂直排列*/
            section.logo {
                flex-direction: column;
                img {
                    /*將 logo 的寬度和高度設置為螢幕寬度的 50%*/
                    width: 50vw;
                    height: 50vw;
                }
            }
            
            /*將 nav 的 display 設置為 flex，讓它變成 flex 容器*/
            nav {
                display: flex;
                /*將 nav 的 flex-direction 設置為 column，讓它變成垂直排列*/
                flex-direction: column;
                ul {
                    /*將 ul 的 flex-direction 設置為 column，讓它變成垂直排列*/
                    flex-direction: column;
                    li {
                        /*將 li 的 padding 設置為 0.5rem 1.25rem*/
                        padding: 0.5rem 1.25rem;
                    }
                }
            }
        }
    }
}

//滾輪樣式
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(2, 150, 248); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0059ff; 
  }

